[submodule "oneblockplus/dark-token/lib/forge-std"]
	path = oneblockplus/dark-token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "oneblockplus/dark-token/lib/openzeppelin-contracts"]
	path = oneblockplus/dark-token/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
